@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// media query manager
/*
  0 - 600     : PHone
  600 - 900   : Tablet portrait
  600 - 1200  : Tablet landscape
  600 - 900   : Tablet portrait
  1200 - 1800 : is where normal styles applie
  1800+       : Big Screens (Desktop)

  $breakpoint - argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
    1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
